<h2>Pacotes de viagens</h1>
<% @trips.each do |trip| %>
  <h3><%= trip.name %></h2>
  <h4><%= trip.description %></h4>
  <h5><%= trip.place %></h5>
  <h5><%= trip.start %> - <%= trip.end %></h5>
  <%= link_to "Detalhes deste pacote", trip %>
<% end %>

<%= link_to "Criar novo pacote de viagem", new_trip_path %>
