<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("imagem11.jpg", class:"d-block w-100") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("imagem2.jpg", class:"d-block w-100") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("imagem3.jpg", class:"d-block w-100") %>
    </div>
    <div class="carousel-caption d-none d-md-block">
      <h1>Seu fim de semana com cara de férias </h1>
    </div>
  </div>
</div>

<div class="cards">
  <% @trips.each do |trip| %>
    <div class="card-trip card-trip-vertical">
      <%= link_to trip do %>
        <% if trip.photo? then %>
          <div class="banner-img-vertical-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path trip.photo, height: 400, crop: :fit %>')">
          </div>
        <% else %>
          <div class="banner-img-vertical-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path 'trip_square', height: 400, crop: :fit %>')"></div>
        <% end %>
      <% end %>
      <div class="card-trip-infos">
        <div class="card-top-details mb-1">
          <div id="aligned-name-info">
            <h2 class="pr-2"><%= link_to trip.name, trip ,class: "text-decoration-none color-dark-gray"%></h2>
            <%= link_to trip do %>
              <i class="fas fa-info-circle"></i>
            <% end %>
          </div>
          <h4><%= trip.description %></h4>
        </div>
        <div class="card-bottom-details">
          <div>
            <h5>Ida: <%= trip.trip_start.strftime("%d/%m/%Y") %></h5>
            <h5>Volta: <%= trip.trip_end.strftime("%d/%m/%Y") %></h5>
          </div>
          <div class="text-right">
            <h4 class="card-trip-pricing mb-1">R$ <%= trip.price %></h4>
            <%= link_to "Reserve", new_trip_booking_path(trip), class: "ml-2 btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
