<div>
  <div class="text-center"><h1>Pacotes de viagens</h1></div>
</div>

<% @trips.each do |trip| %>
  <div class="cards">
    <div class="card-trip">
      <%= image_tag("paraty.jpg")%>
      <div class="card-trip-infos">
        <div class="card-top-details">
          <h2><%= trip.name %></h2>
          <h4><%= trip.description %></h4>
          <%= link_to "Mais informações", trip %>
          <br>
        </div>
        <div class="card-bottom-details">
          <div>
            <h5><%= trip.place %></h5>
            <p>Ida: <%= trip.start %> | Volta: <%= trip.end %></p>
          </div>
          <h4 class="card-trip-pricing">R$ <%= trip.price %></h4>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= link_to "Criar novo pacote de viagem", new_trip_path %>

