<div class="row justify-content-center">
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1><%= @trip.name %></h1>
    <h2><%= @trip.description %></h4>
    <%= photo_name = @mounted_as %>
    <%= cl_image_tag @trip.photo, height: 300, width: 400, crop: :fill %>
    <h4><%= @trip.place %></h5>
    <h4><%= @trip.start %> - <%= @trip.end %></h5>
    <p><%= @trip.hotel %></p>
    <p><%= @trip.schedule %></p>
    <p><%= @trip.price %></p>
    <p><%= @trip.user.email %></p>

    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
  <div class="col-6">

    <h2><%= link_to "Editar este pacote.", edit_trip_path(@trip) %></h2>

    <h2><%= link_to "Reserve esta viagem!", new_trip_booking_path(@trip) %></h2>
  </div>
</div>
