<%= render 'photo_image'%>

</div>
<div class="justify-content-center" id="trip-info">
  <div id="trip-schedule p-2">
    <h1 class="mb-2"><%= @trip.name %></h1>
    <h2 class="mb-2"><%= @trip.description %></h4>
    <h4><%= @trip.place %></h4>
    <p class="mt-2"><strong>Ida:</strong> <%= @trip.start.strftime("%d/%m/%Y") %> | <strong>Volta:</strong> <%= @trip.end.strftime("%d/%m/%Y") %></p>
    <br>
    <p><strong>Programação:</strong></p>
    <p><%= @trip.schedule %></p>
    <% if @trip.user == current_user %>
      <p><%= link_to "Editar este pacote", edit_trip_path(@trip) %></p>
      <p>Este pacote já foi reservado por: </p>
      <% @trip.bookings.each do |booking| %>
        <p><b><%=booking.user.email %></b></p>
      <% end %>
    <% end %>

  </div>
  <div class="p-2">
    <div class="border" id="main-info" >
      <div class="d-flex justify-content-between">
        <div>
          <p><strong>Hospedagem:</strong></p>
          <p><%= @trip.hotel %></p>
      </div>
          <p><strong>vagas:</strong> <%= @trip.capacity - @trip.bookings.count%></p>
      </div>
      <div id="price-and-reserve-btn">
        <p class="pr-2"><strong>R$ <%= @trip.price %>,00</strong>/pessoa</p>
        <%= link_to "Reservar!", new_trip_booking_path(@trip), class: "btn-banner-orange" %>
      </div>

    </div>
    <div class="banner mt-2" style="background-image: url(https://cdn-images-1.medium.com/max/800/1*FbzQStUzSsLChBJE9108hg.png);">
    </div>
  </div>
</div>
