<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path @trip.photo, height: 600, width: 800, crop: :fill %>')">
  <div class="text-center">
    <h1><%= @trip.name %></h1>
    <h4><%= @trip.start %> - <%= @trip.end %></h5>
    <%= link_to "Reserve esta viagem!", new_trip_booking_path(@trip), class: "btn-picture-banner" %>

  </div>
</div>
<div class="justify-content-center" id="trip-info">
  <div id="main-info">
    <h2><%= @trip.description %></h4>
    <h4><%= @trip.place %></h5>
    <p><%= @trip.hotel %></p>
    <p><%= @trip.price %></p>
    <p><%= @trip.user.email %></p>
    <h2><%= link_to "Editar este pacote.", edit_trip_path(@trip) %></h2>
  </div>
  <div id="trip-schedule">
    <h1>Programação</h1>
    <p><%= @trip.schedule %></p>
  </div>
</div>

<h1>Programação</h1>
<p><%= @trip.schedule %></p>
