<div id="booking-card">
  <%= render 'photo_image' %>
  <div class="container text-align:center">
        <h1><%= @trip.name %></h1>
        <h2><%= @trip.place %></h2>
        <h4 class="mt-2"><strong>Ida:</strong> <%= @trip.start %> | <strong>Volta:</strong> <%= @trip.end %></h4>
        <br>
        <p><strong>R$ <%= @trip.price %>,00</strong>/pessoa</p>
        <br>
        <%= simple_form_for [@trip, @booking] do |f| %>
          <%= f.submit "Confirmar a compra!", class: "btn-banner-orange" %>
        <% end %>
  </div>
</div>
    <p><strong>Hospedagem:</strong></p>
    <p><%= @trip.hotel %></p>
    <p><strong>Programação:</strong></p>
    <p><%= @trip.schedule %></p>
