<div class="booking-container container shadow my-3 mx-auto pt-3 pb-3 bg-light rounded">
  <%= render 'photo_image' %>
    <div class="card-trip-booking-infos text-center">
        <div class="card-left-details text-left mb-1">
          <h2 class="pr-2"><%=@trip.name%></h2>
          <h4><%= @trip.description %></h4>
          <br>
          <h5>Hospedagem: <%= @trip.hotel %></h5>
        </div>
        <div class="card-right-details text-right">
          <h5>Ida: <%= @trip.trip_start.strftime("%d/%m/%Y") %></h5>
          <h5>Volta: <%= @trip.trip_end.strftime("%d/%m/%Y") %></h5>
          <br>
          <h4 class="card-trip-pricing mb-1">R$ <%= @trip.price %>,00/pessoa</h4>
          <%= simple_form_for [@trip, @booking] do |f| %>
            <%= f.submit "Confirmar a compra", class: "btn-banner-orange px-4" %>
          <% end %>
        </div>
    </div>

    <div class="container border-top">
      <h5 class="text-center my-3"><strong>Programação</strong></h5>
      <p><%= @trip.schedule %></p>
    </div>

  <div class="banner mt-2">
    <div
      id="map"
      style="width: 100%;
      height: 300px;"
      data-markers="<%=  @markers_show.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>



