<div id="booking-card">
  <%= render 'photo_image' %>
  <div class="container text-align:center">
        <h1><%= @trip.name %></h1>
        <h2><%= @trip.place %></h2>
        <h4>Ida em: <%= @trip.start %></h4>
        <h4>Volta em: <%= @trip.end %></h4>
        <br>
        <br>
        <br>
        <%= simple_form_for [@trip, @booking] do |f| %>
          <%= f.submit "Confirmar a compra!", class: "btn-banner-orange" %>
        <% end %>
  </div>
</div>
