<div id="booking-card">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
           url('<%= cl_image_path @trip.photo, height: 600, width: 800, crop: :fill %>')">
  </div>
  <div class="container text-align:center">
        <h1><%= @trip.name %></h1>
        <h2><%= @trip.place %></h2>
        <h4>Ida em: <%= @trip.start %></h4>
        <h4>Volta em: <%= @trip.end %></h4>
        <br>
        <br>
        <br>
        <%= simple_form_for [@trip, @booking] do |f| %>
          <%= f.submit "Confirmar a compra!", class: "btn-banner-orange" %>
        <% end %>
  </div>
</div>
