<div class="navbar navbar-expand-sm navbar-uikend">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag("loginho1.png") %>
  <% end %>

  <div class="logo-text">
    <%= link_to root_path do %>
      <%= image_tag("uikend1.png")%>
    <% end %>
  </div>

<%# #Search %>
<%= form_tag trips_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "search",
    placeholder: "Busque sua viagem..."
  %>
<% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-right-items dropdown">
          <div class="nav-uikend-links">
          <%= link_to "Divulgue seu pacote", new_trip_path, class: "nav-links" %>
          </div>
          <% profile = Profile.find(current_user.profile.id) %>
          <% if profile.photo? then %>
            <% image_perfil = cl_image_path profile.photo, height: 100, width: 100, gravity: 'face', crop: 'crop' %>
          <% else %>
            <% image_perfil = image_path 'profile_image', height: 100, width: 100, crop: 'crop' %>
          <% end %>
          <%= image_tag image_perfil, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right nav-uikend-dropdown" aria-labelledby="navbarDropdown">
            <%= link_to "Meu perfil", my_profile_path(), class: "dropdown-item" %>
            <%= link_to "Painel", dashboard_path, class: "dropdown-item" %>
            <%= link_to "Criar novo pacote", new_trip_path, class: "dropdown-item" %>
            <%= link_to "Encerrar", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-right-items nav-uikend-links">
          <%= link_to "Divulgue seu pacote", new_trip_path, class: "nav-links" %>
          <%= link_to "Login", new_user_session_path, class: "nav-links" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
