<div class="navbar navbar-expand-sm navbar-uikend">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag("loginho1.png") %>
  <% end %>

  <div class="logo-text">
    <%= link_to root_path do %>
      <%= image_tag("uikend1.png")%>
    <% end %>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-right-items dropdown">
          <div class="nav-uikend-links">
          <%= link_to "Divulgue seu pacote", new_trip_path, class: "nav-links" %>
          </div>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right nav-uikend-dropdown" aria-labelledby="navbarDropdown">
            <%= link_to "Meu perfil", "#", class: "dropdown-item" %>
            <%= link_to "Criar novo pacote", new_trip_path, class: "dropdown-item" %>
            <%= link_to "Encerrar", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-right-items nav-uikend-links">
          <%= link_to "Divulgue seu pacote", new_trip_path, class: "nav-links" %>
          <%= link_to "Login", new_user_session_path, class: "nav-links" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
