    <div class="shadow mt-5 p-5 bg-light rounded">
      <h2 class="text-center mb-2">Pacotes atualmente oferecidos</h2>

      <% offered_trips = [] %>
      <% @my_offered_trips.each do |offer| %>
        <% trip_start = Trip.find(offer.id).trip_start %>
        <% today = Time.now %>
        <% if today < trip_start then %>
            <% offered_trips << offer %>
        <% end %>
      <% end %>

      <% offered_trips.each do |offered_trip| %>
           <div class="card-trip card-trip-horizontal m-3">
            <% if offered_trip.photo? then %>
              <div class="banner_img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path offered_trip.photo, height: 400, crop: :fit %>')">
              </div>
            <% else %>
              <div class="banner_img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path 'trip_square', height: 400, crop: :fit %>')">
              </div>
            <% end %>

            <div class="card-trip-infos p-2">
              <div class="card-top-details mb-2">
                <div id="aligned-name-info">
                  <h2 class="pr-2"><%= link_to offered_trip.name, offered_trip ,class: "text-decoration-none color-dark-gray"%>
                  <% if offered_trip.bookings.count == 0 %>
                    <%= link_to edit_trip_path(offered_trip) do %>
                    <i class="fas fa-edit"></i>
                    <% end %>
                  <% end %></h2>
                  <div>
                    <h5>Vagas reservadas: <%= offered_trip.bookings.count%></h5>
                    <h5>Vagas disponíveis: <%= offered_trip.capacity - offered_trip.bookings.count%></h5>
                  </div>
                </div>
                <h4><%= offered_trip.description %></h4>
              </div>
              <div class="card-bottom-details">
                <div>
                  <h5><%= offered_trip.place %></h5>
                  <p>Ida: <%= offered_trip.trip_start.strftime("%d/%m/%Y") %> | Volta: <%= offered_trip.trip_end.strftime("%d/%m/%Y") %></p>
                </div>
                <div class="text-right">
                  <h5 class="card-trip-pricing mb-2">R$ <%= offered_trip.price %>/pessoa | Total: R$ <%= offered_trip.price * offered_trip.bookings.count%></h5>
                  <%= link_to "Detalhes e viajantes confirmados", offered_trip, class: "ml-2 btn-banner-green" %>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
