<div class="container">

  <% if @current_user.bookings.empty? then %>
    <div class="text-center shadow mt-5 p-5 bg-light rounded">
         <h2> Você ainda não tem viagens reservadas! <h2>
        <%= link_to "Escolha o seu pacote", root_path, class: "ml-2 btn-banner-orange" %>
    </div>

  <% else %>
    <%= render 'mytrips' %>%
    <%= render 'mypasttrips' %>%
  <% end %>

  <% if @current_user.trips.empty? then %>
    <div class="text-center shadow mt-5 p-5 bg-light rounded">
      <h2>Você ainda não tem viagens publicadas! </h2>
      <%= link_to "Publique o seu pacote", new_trip_path, class: "ml-2 btn-banner-green" %>
    </div>
  <% else %>
    <%= render 'myoffers'%>%
  <% end %>

</div>
